<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<header>
    <th:block th:replace="fragments/navbar"></th:block>
</header>
<main class="justify-content-center text-center mt-3">
   <h2 class="justify-content-center text-center" th:text="#{successReg}"></h2>
   <h2 class="justify-content-center text-center" th:text="#{successReg1}"></h2>
   <h2 class="justify-content-center text-center" th:text="#{successReg2}"></h2>
</main>
<th:block th:replace="fragments/footer"></th:block>
</body>
</html>