<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
    <header>
        <th:block th:replace="fragments/navbar"></th:block>
    </header>

    <main class="justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mx-auto">
                    <div class="alert-danger w-40">
                        <h6 th:if="${fileError} == 'file must be uploaded'">·File must be uploaded</h6>
                        <h6 th:each="err : ${errors}" class="alert-danger" th:text="·+${err.getDefaultMessage()}"></h6>
                    </div>
                    <form class="w-40 mx-auto" th:action="@{/upload}" th:method="POST" enctype="multipart/form-data">
                        <div class="form-group ">
                            <label for="documents">Документ/Документи:*</label>
                            <input type="file" name="documents" class="form-control-file" id="documents" multiple accept="image/*"/>
                        </div>
                        <hr>
                        <div class="button-holder d-flex justify-content-around">
                            <button type="submit" class="btn btn-primary">Качи</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <th:block th:replace="fragments/footer"></th:block>

</body>
</html>